// helpers
a {
	color: black;
	padding: 0 3px;
}

p {
	margin-bottom: 30px;
}

li {
	padding-bottom: 80px;
}

code {
	text-align: left;
	display: block;
	max-width: 60%;
	margin: 0 auto;
	font-size: 12px;
	overflow: scroll;
	box-shadow: 8px 8px 10px #AAAAAA;
	border-radius: 3px;
	max-height: 350px;
	overflow: scroll;

	div {
		border-radius: 3px;
		background-color: black;
		color: #2bed0e;
	}
}

.cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.after {
	display: inline-block;
	z-index: -1;
	content: '';
}