// helpers
a {
	color: black;
	padding: 0 3px;
}

li {
	padding-bottom: 10px;
}

.cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.after {
	display: inline-block;
	z-index: -1;
	content: '';
}