a {
  color: black;
  padding: 0 3px; }

li {
  padding-bottom: 10px; }

.cover, .link.slide-forward:after, .link.fill-up:after, .link.spin-in:after, .link.mix-match:before, .link.mix-match:after, .link.censored:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.after, .link.slide-forward:after, .link.fill-up:after, .link.spin-in:after, .link.mix-match:before, .link.mix-match:after, .link.censored:after {
  display: inline-block;
  z-index: -1;
  content: ''; }

.link__wrap {
  max-width: 960px;
  margin: 50px auto 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif; }
.link.highlight {
  transition: background-color 0.3s; }
  .link.highlight:hover {
    background-color: #FCFF72; }
.link.skewed {
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block; }
  .link.skewed:hover {
    background-color: #95FC8D;
    transform: skewX(-10deg); }
.link.slide-forward {
  position: relative; }
  .link.slide-forward:after {
    transform: translateX(-100%);
    transition: background-color 0.3s, transform 0.3s; }
  .link.slide-forward:hover:after {
    background-color: #FD8484;
    transform: translateX(0); }
.link.fill-up {
  position: relative; }
  .link.fill-up:after {
    transform: rotateX(-90deg);
    transition: background-color 0.3s, transform 0.3s; }
  .link.fill-up:hover:after {
    transform: rotateX(0deg);
    background-color: #72B4FF;
    transition: transform 0.3s; }
.link.spin-in {
  transition: background-color 0.3s, transform 0.3s;
  position: relative; }
  .link.spin-in:after {
    transform: rotate(0);
    transition: background-color 0.3s, transform 0.3s; }
  .link.spin-in:hover:after {
    background-color: #FCBF5D;
    transform: rotate(180deg); }
.link.mix-match {
  position: relative; }
  .link.mix-match:hover {
    background-color: rgba(0, 255, 10, 0.5);
    transition-delay: 0.2s; }
  .link.mix-match:before {
    transform: translateY(-100%);
    transition: transform 0.3s; }
  .link.mix-match:after {
    transform: translateX(-100%);
    transition: transform 0.3s; }
  .link.mix-match:hover:before {
    background-color: rgba(0, 110, 255, 0.3);
    transform: translateX(0); }
  .link.mix-match:hover:after {
    background-color: rgba(255, 238, 20, 0.5);
    transform: translateX(0); }
.link.zoom-out {
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  position: relative; }
  .link.zoom-out:hover {
    background-color: #c584ff;
    transform: perspective(5px) translateZ(-1px); }
.link.censored {
  position: relative; }
  .link.censored:after {
    transform: rotate(-4deg);
    content: 'censored';
    display: block;
    background-color: black;
    color: white;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s; }
  .link.censored:hover:after {
    background-color: none;
    transform: scale(1.05);
    opacity: 0; }

@media (min-width: 768px) {
  .link__wrap {
    font-size: 26px; } }

/*# sourceMappingURL=hover.css.map */
