$module-name: 'link';

.site__container {
	font-size: 26px;
	max-width: 960px;
	margin: 0 auto;
	font-family: sans-serif;

}

.#{$module-name} {

	&__wrap {
		margin: 50px 0 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	// November 1st - Highlighter.
	&.highlight{
		color: black;
		padding: 0 3px;
		transition: background-color 0.3s;

		&:hover {
			background-color: #FCFF72;
		}
	}


	// November 2nd - Skewed.
	&.skewed{
		color: black;
		padding: 0 3px;
		transition: background-color, transform 0.3s;
		display: inline-block;

		&:hover {
			background-color: #95FC8D;
			transform: skewX(-10deg);
		}
	}
}