a {
  color: black;
  padding: 0 3px; }

p {
  margin-bottom: 30px; }

li {
  padding-bottom: 80px; }

code {
  text-align: left;
  display: block;
  max-width: 60%;
  margin: 0 auto;
  font-size: 12px;
  overflow: scroll;
  box-shadow: 8px 8px 10px #AAAAAA;
  border-radius: 3px;
  max-height: 350px;
  overflow: scroll; }
  code div {
    border-radius: 3px;
    background-color: black;
    color: #2bed0e; }

.cover, .link.slide-forward:after, .link.fill-up:after, .link.spin-in:after, .link.mix-match:before, .link.mix-match:after, .link.censored:after, .link.roll-out:after, .link.roll-out:before, .link.layered:after, .link.layered:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.after, .link.slide-forward:after, .link.fill-up:after, .link.spin-in:after, .link.mix-match:before, .link.mix-match:after, .link.censored:after, .link.roll-out:after, .link.roll-out:before, .link.layered:after, .link.layered:before {
  display: inline-block;
  z-index: -1;
  content: ''; }

.link__wrap {
  max-width: 960px;
  margin: 50px auto 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif; }
.link.highlight {
  transition: background-color 0.3s; }
  .link.highlight:hover {
    background-color: #FCFF72; }
.link.skewed {
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block; }
  .link.skewed:hover {
    background-color: #95FC8D;
    transform: skewX(-10deg); }
.link.slide-forward {
  position: relative; }
  .link.slide-forward:after {
    transform: translateX(-100%);
    transition: background-color 0.3s, transform 0.3s; }
  .link.slide-forward:hover:after {
    background-color: #FD8484;
    transform: translateX(0); }
.link.fill-up {
  position: relative; }
  .link.fill-up:after {
    transform: rotateX(-90deg);
    transition: background-color 0.3s, transform 0.3s; }
  .link.fill-up:hover:after {
    transform: rotateX(0deg);
    background-color: #72B4FF;
    transition: transform 0.3s; }
.link.spin-in {
  transition: background-color 0.3s, transform 0.3s;
  position: relative; }
  .link.spin-in:after {
    transform: rotate(0);
    transition: background-color 0.3s, transform 0.3s; }
  .link.spin-in:hover:after {
    background-color: #FCBF5D;
    transform: rotate(180deg); }
.link.mix-match {
  position: relative; }
  .link.mix-match:hover {
    background-color: rgba(0, 255, 10, 0.5);
    transition-delay: 0.2s; }
  .link.mix-match:before {
    transform: translateY(-100%);
    transition: transform 0.3s; }
  .link.mix-match:after {
    transform: translateX(-100%);
    transition: transform 0.3s; }
  .link.mix-match:hover:before {
    background-color: rgba(0, 110, 255, 0.3);
    transform: translateX(0); }
  .link.mix-match:hover:after {
    background-color: rgba(255, 238, 20, 0.5);
    transform: translateX(0); }
.link.zoom-out {
  transition: background-color 0.3s, transform 0.3s;
  display: inline-block;
  position: relative; }
  .link.zoom-out:hover {
    background-color: #c584ff;
    transform: perspective(5px) translateZ(-1px); }
.link.censored {
  position: relative; }
  .link.censored:after {
    transform: rotate(-4deg);
    content: 'censored';
    display: block;
    background-color: black;
    color: white;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s; }
  .link.censored:hover:after {
    background-color: none;
    transform: scale(1.05);
    opacity: 0; }
.link.disappearing {
  position: relative;
  opacity: 1;
  transition: opacity 0.4s; }
  .link.disappearing:hover {
    opacity: 0;
    transition: opacity 1s; }
.link.roll-out {
  position: relative; }
  .link.roll-out:after, .link.roll-out:before {
    transition: transform 0.4s, background-color 0.6s; }
  .link.roll-out:after {
    left: 50%;
    transform-origin: 100% 50%; }
  .link.roll-out:before {
    right: 50%;
    transform-origin: 0 50%; }
  .link.roll-out:hover:after {
    transform: rotate(-360deg);
    background-color: #A6FF70; }
  .link.roll-out:hover:before {
    transform: rotate(360deg);
    background-color: #A6FF70; }
.link.bounce {
  position: relative;
  display: inline-block; }
  .link.bounce:hover {
    animation-name: bounce;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.25, 1.25, 1, 0.68);
    animation-iteration-count: infinite;
    background-color: #FFAC59; }
.link.layered {
  position: relative;
  display: inline-block;
  transition: transform 0.5s; }
  .link.layered:hover {
    animation-name: layer;
    animation-duration: 1.9s; }
  .link.layered:hover:after {
    transform: rotateY(360deg);
    transform-origin: 100% 50%;
    transition: transform 1s;
    x-index: 2; }
  .link.layered:hover:before {
    transform: rotateX(360deg);
    transform-origin: 50% 100%;
    transition: transform 1s;
    transition-delay: 1s;
    x-index: 5; }
  .link.layered:after {
    color: red;
    content: attr(data-hover); }
  .link.layered:before {
    content: attr(data-hover);
    color: black; }

@media (min-width: 768px) {
  .link__wrap {
    font-size: 26px; } }
@keyframes bounce {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-7px); } }
@keyframes layer {
  0% {
    color: black; }
  85% {
    color: red; }
  86% {
    color: black; } }

/*# sourceMappingURL=hover.css.map */
